body{
    background-color: white;
}
.imagen>img{
    padding: 20px;
    width: 100%;
    height: 100%;
}

.btn:hover{
    height: 50px;
    width: 90px;
}
.navbar{
    background-color: white;
}

.pie-de-pagina{
    background-color: white;
}

#formulario2{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
