/* estilos del navbar */
.navbar{
    padding: 2rem;
    background-color: #FFF7E9;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


/* estilos generales */
body{
    background-color: #FFF7E9;
}
section{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

.dark-section{
    background-color: #1b1b32;
    color: white;
}

.section-light{
    color: black;
    background-color: white;
}

.title-section{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.description-section{
    font-size: 1.2rem;
    color: #584e4e;
}

.text-section{
    font-size: 1.2rem;
}

.black-text{
    color: black;
}

.white-text{
    color: white;
}

/* compras y carrito */

.compras{
    display: flex;
}

.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FFAA4C;
}

.carrito{
    padding: 10px;
    height: 100%;
    margin: 10px;
    background-color: #FFF7E9;
}

.carrito *{
    margin: 10px;
    padding: 10px;
}

.productos .card{
    border: 100px;
    border-color: #FFAA4C;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease-in;
}

.producto{
    align-items: stretch;
    margin-bottom: 10px;
}



/* responsive */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}



