/* estilos del navbar */
.navbar{
    background-color: #FFC60B;
}


/* estilos generales */
body{
    background-color: #FEFFDB;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titulo{
    font-family: 'PT Serif', serif;
    color: #F1F8FD;
    text-align: center;
    font-size: 8.2rem;
    padding: 150px 20px 150px 20px;

}

.tituloLP{
    background-image: url("../images/background-img.png");
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
}


.black-text{
    color: black;
}

.pie-de-pagina{
    background-color: #444444;
    color: white;
}

.carusel{
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
}

.info{
    background-color: #444444;
}

.info-titulo{
    font-size: 2rem;
    font-family: 'PT Serif', serif;
    color: #F1F8FD;
    text-align: center;
    padding: 20px;

}

.info-descripcion{
    font-size: 1.2rem;
    font-family: 'PT Serif', serif;
    color: #F1F8FD;
    text-align: center;
    padding: 20px;
}

.nosotros{
    padding: 20px;
}

.nosotros .row{
    justify-content: space-evenly;
}
.nosotros .card{
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.bg-warning{
    background-color: #FFC60B;
}
/* responsive */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}

@media screen and (max-width: 812px) {
    .titulo{
        font-size: 3rem;
    }
}

@media screen and (max-width: 576px) {
    .carusel{
        width: 400px; 
    }
}


