/* estilos del navbar */
.navbar{
    padding: 2rem;
    height: 100px;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


/* estilos generales */
section{
    display: flex;
    justify-content: center;
}

.titulo{
    font-family: 'Passion One', cursive;
    color: #F1F8FD;
    text-align: center;
    font-size: 8.2rem;
    padding: 150px;

}

.tituloLP{
    background-image: url("../images/background-img.png");
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.dark-section{
    background-color: #1b1b32;
    color: white;
}

.section-light{
    color: black;
    background-color: white;
}

.title-section{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.description-section{
    font-size: 1.2rem;
    color: #584e4e;
}

.text-section{
    font-size: 1.2rem;
}

.black-text{
    color: black;
}

.white-text{
    color: white;
}

.activo{
    color: #b6b6b6;
}

.pie-de-pagina{
    background-color: white;
}

.carusel{
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

/* responsive */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}



