/* estilos del navbar */
.navbar{
    padding: 2rem;
    background-color: #FFC60B;
    height: 100px;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


/* estilos generales */
body{
    background-color: #FEFFDB;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
}

section{
    display: flex;
    justify-content: center;
}

/* compras y carrito */

.compras{
    display: flex;
}

.productos{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #FF8B00;
}

.carrito{
    padding: 10px;
    height: 100%;
    margin: 10px;
    background-color: #FEFFDB;
    border-radius: 10px;
}

.carrito *{
    margin: 10px;
    padding: 10px;
}

.productos .card{
    border: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease-in;
}

.producto{
    align-items: stretch;
    margin-bottom: 10px;
}

.btn-primary{
    background-color: #001E6C;
}

.card-img-top{
    border-radius: 10px;
}
.accordion-body{
    background-color: #444444;
}

.tableProp{
    width: 100%;
    position: relative;
}

.tableProp tr{
    width: 100%;
}

.imagen-carrito{
    max-height: 200px;
}

.compras{
    min-height: 600px;
}

.accordion{
    vertical-align: top;
}

.pie-de-pagina{
    background-color: #444444;
    color: white;
}

/* responsive */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}



